{{page-title "Аналитика"}}
<div class="row dictionary">
  <div class="col s12 l4">
    <LinkTo class="chart-all" @route="chart-all">
      <div class="center dictionary-card">
        <i class="material-icons">insert_chart</i>
        <p class="caption">Доход компании</p>
      </div>
    </LinkTo>
  </div>
  <div class="col s12 l4">
    <LinkTo class="chart-models" @route="chart-employees">
      <div class="center dictionary-card">
        <i class="material-icons">show_chart</i>
        <p class="caption">Доход по сотруднику</p>
      </div>
    </LinkTo>
  </div>
</div>