{{page-title "Данные"}}
<div class="row dictionary">
  <div class="col s12 l4">
    <LinkTo class="brand-logo" @route="workplace">
      <div class="center dictionary-card">
        <i class="material-icons">flash_on</i>
        <p class="caption">Компания</p>
      </div>
    </LinkTo>
  </div>
  <div class="col s12 l4">
    <LinkTo class="brand-logo" @route="houses">
      <div class="center dictionary-card">
        <i class="material-icons">gps_fixed</i>
        <p class="caption">Точки</p>
      </div>
    </LinkTo>
  </div>
  <div class="col s12 l4">
    <LinkTo class="brand-logo" @route="employees">
      <div class="center dictionary-card">
        <i class="material-icons">group</i>
        <p class="caption">Сотрудники</p>
      </div>
    </LinkTo>
  </div>
  <div class="col s12 l4">
    <LinkTo class="brand-logo" @route="accounts">
    <div class="center dictionary-card">
      <i class="material-icons">account_circle</i>
      <p class="caption">Аккаунты</p>
    </div>
    </LinkTo>
  </div>
</div>