<div class="lookup-container">
  <input type="text" class="lookup-input datepicker" value="{{dateValue}}" readonly="true">
  <button class="btn-lookup btn-lookup-delete" type="button" {{action 'clearData'}}><i class="material-icons">clear</i></button>
</div>